<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/Styles.css" rel="stylesheet" />
</head>
<body>
    <div id="allScreen">
        <header>
            <a asp-controller="Recipe" asp-action="Home"><img src="~/Images/HeadImg.jpg" height="104" width="180" /></a>
            <h3>Home Cook</h3>
        </header>
        <article>
            <nav id="sidebar"> @*Left side navigation menu*@
                <ul>
                    <li><a asp-controller="Recipe" asp-action="Home">Home Page</a></li>
                    <li><a asp-controller="Recipe" asp-action="AllRecipes">All Recipes</a></li>
                    <li><a asp-controller="Recipe" asp-action="UserPage">UserPage</a></li>
                    <li><a asp-controller="Recipe" asp-action="AddRecipe">Add Recipe</a></li>
                </ul>
            </nav>
            <div id="content"> @*Main content area*@
                @RenderBody()
            </div>
        </article>
        <footer>
            <h6>&copy; Thales Costa - Fall 2019 - Centennial College</h6>
        </footer>
    </div>
</body>
</html>
