@model Assignment1.Models.Recipe

<table id="addRecipeTable">
    <tr>
        <td><label asp-for="Title">Title: </label></td>
        <td class="secondCol"><input asp-for="Title" /></td>
    </tr>
    <tr>
        <td><label asp-for="PrepTime">PrepTime: </label></td>
        <td class="secondCol"><input asp-for="PrepTime" /></td>
    </tr>
    <tr>
        <td><label asp-for="CookTime">CookTime: </label></td>
        <td class="secondCol"><input asp-for="CookTime" /></td>
    </tr>
    <tr>
        <td><label asp-for="Ingredients">Ingredients: </label></td>
        <td class="secondCol"><textarea rows="4" asp-for="Ingredients"></textarea><br /></td>
    </tr>
    <tr>
        <td><label asp-for="Instructions">Instructions: </label></td>
        <td class="secondCol"><textarea rows="4" asp-for="Instructions"></textarea><br /></td>
    </tr>
</table>
