@model Assignment1.Models.Recipe

<label asp-for="Title">Title: </label>
<input type="text" asp-for="Title" />
<br />
<label asp-for="PrepTime">PrepTime: </label>
<input type="text" asp-for="PrepTime" />
<br />
<label asp-for="CookTime">CookTime: </label>
<input type="text" asp-for="CookTime" />
<br />

<label asp-for="Ingredients">Ingredients: </label>
<textarea asp-for="Ingredients"></textarea><br />

<label asp-for="Instructions">Instructions: </label>
<textarea asp-for="Instructions"></textarea><br />

@*<label asp-for="ImagePath">Image: </label>
<input type="text" asp-for="ImagePath" />
<br />*@
