@model Assignment1.Models.Recipe

@{
    ViewData["Title"] = "Add New Recipe";
}

<form method="post">
    @Html.Partial("Partial_AddRecipe")

    <span><button id="save" type="submit">Save</button></span>
    <a asp-action="Home"><button id="cancel" type="button">Cancel</button></a>
    

</form>
